<h1 class="title">Posts#index</h1>

<% @posts.each do |post| %>
  <div class="card">
    <div class="card-image">
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%=post.title %></p>
        </div>
      </div>

      <div class="content nuri" >
        <%= simple_format post.content %>
      </div>
      <div class="alert">
        <%= link_to "Read more ...", post_path(post) %>
      </div>

    </div>
  </div>
<% end %>

